<section class="section video" data-section="section5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <div class="left-content">

          <h4>Watch the video <br><em>ITM GWALIOR FEES SUBMISSION</em></h4>
          <h6> Hello everyone!<br><br>
            This is my vlog about the experience of submitting fees in my college ITM Gwalior.
            ITM fees submission is a whole new experience for students. To give an idea about fees submission process, I tried something new & made this video. I will keep posting videos about food exploring places, meeting famous personalities etc.<br><br> Keep supporting  and  keep sharing👍

             </h6>
          <br><br>
          <div class="main-button"><a rel="nofollow" href="https://www.youtube.com/watch?v=jAEoml03QiM"   target="_parent _blank" style="text-decoration:none">External URL</a></div>
        </div>
      </div>
      <div class="col-md-6">
        <article class="video-item">
          <div class="video-caption">
            <h4>PRASHANT SAHU</h4>
          </div>
          <figure>
            <a href="https://www.youtube.com/watch?v=jAEoml03QiM" target="_blank"  class="play"><img src="/../assets/image/itm.webp"></a>
          </figure>
        </article>
      </div>
    </div>
  </div>
</section>
