<!--start slider --->
<div class="carousel slide" data-bs-ride="carousel" id="a">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#a" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#a" data-bs-slide-to="1" ></button>
    <button type="button" data-bs-target="#a" data-bs-slide-to="2" ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <br><br>
      <img src="https://wallpapercave.com/wp/wp8904080.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <br><br>
      <img src="https://wallpapercave.com/wp/wp2465915.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <br><br>
      <img src="https://www.teahub.io/photos/full/22-221879_-net-full-stack-developer.jpg" class="d-block w-100" alt="...">
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--end slider---->


<br>

<!-- div welcome to riddle starts here -->
<div class="container-fluid">
<div class="container">
  <h1  class="a text-center">PRASHANT SAHU</h1>
  <br>



      <div class="row">
          <div class="col-md-7">
              <p class="b">
                I'm self-motivated 4th year B.tech(CS) Student. I know programming languages such as Python, SQL, HTML, CSS, Javascript. I am gaining knowledge in MEAN/MERN Stack. Budding programmer with a demonstrated history of working in the program development industry. Skilled in English, Writing, Communication, Programming and Project Management. Final year student with a Bachelor of Technology focused on Computer Science Engineering from ITM Gwalior.
                <br>
                To become a part of globally respected organization by achieving its goals and upgrading my skills & knowledge at the same time.
              </p>
               <br><br>
          </div>

          <div class="col-md-5">
              <img src="/../assets/image/prashant.jpg" style="width: 95%;">
          </div>
        </div>
      </div>
</div>
<!-- div welcome to riddle ends here -->

